@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

/* Common css */
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* Responsive navbar icon */
.icon-style{
    color: black;
    padding: 4px 0;
    font-size: 25px;
}


/* Carousel */
.my-slide{
    height: 500px;
}

/* About Section */
.company-title ul{
    list-style: none;
}
.company-title ul li span i {
    width: 55px;
    height: 90px;
    font-size: 38px;
    color: #E83B3E;
}



/* Package Section */
i.fas.fa-check.list-icon-style {
    background-color: #3c0ed736;
    border-radius: 50px;
    padding: 7px;
    color: blue;
    margin-right: 15px;
}
.package-list{
    list-style: none;
    margin-left: -35px;
}
.card.border-0.bg-primary.custom-card {
    position: relative;
    bottom: 50px;
    border-radius: 20px;
}
